{% extends '../base.html' %}


{% block content %}
<br>
<section>
  <div class="container">



    <div class="row">

      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full name</p>

              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> {{customers.first_name}} {{customers.last_name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.phone_no}}</p>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">

                  {{ff.state}}
                  {{ff.city}}
                  {{ff}}
                  {{ff.zipcode}}

                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<div class="my-account">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="dashboard-nav" data-toggle="pill" href="#dashboard-tab" role="tab"><i
              class="fa fa-tachometer-alt"></i>Dashboard</a>
          <a class="nav-link" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab"><i
              class="fa fa-shopping-bag"></i>Orders</a>
          <a class="nav-link" id="payment-nav" data-toggle="pill" href="#payment-tab" role="tab"><i
              class="fa fa-credit-card"></i>Message from admin</a>
          <a class="nav-link" id="address-nav" data-toggle="pill" href="#address-tab" role="tab"><i
              class="fa fa-map-marker-alt"></i>address</a>
          <a class="nav-link" id="account-nav" data-toggle="pill" href="#account-tab" role="tab"><i
              class="fa fa-user"></i>Account Details</a>
          <a class="nav-link" href="index.html"><i class="fa fa-sign-out-alt"></i>Logout</a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="dashboard-tab" role="tabpanel" aria-labelledby="dashboard-nav">
            <h4>Dashboard</h4>
            <p>

              old order history<br>
              orderno.

              {% for order in orders %}
              {% for iteme in itemes %}
              {% if iteme.Order == order.id %}

              {{iteme}}

              {% endif %}

              {% endfor %}
              {% endfor %}
              <!--            
              {{item.Product.name}}<br>
              {{item.Product.price|floatformat:2}}<br>
              {{item.get_total|floatformat:2}}<br> -->
              </tr>

            </p>
          </div>
          <div class="tab-pane fade" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th>No</th>
                    <th>Product</th>
                    <th>Date</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Product Name</td>
                    <td>01 Jan 2020</td>
                    <td>$99</td>
                    <td>Approved</td>
                    <td><button class="btn">View</button></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Product Name</td>
                    <td>01 Jan 2020</td>
                    <td>$99</td>
                    <td>Approved</td>
                    <td><button class="btn">View</button></td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Product Name</td>
                    <td>01 Jan 2020</td>
                    <td>$99</td>
                    <td>Approved</td>
                    <td><button class="btn">View</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade" id="payment-tab" role="tabpanel" aria-labelledby="payment-nav">
            <h4>Message From the seller for u</h4>
            <br>
            {% for message in messages %}
            <p>-> {{message.real_message}}  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <b><i>sent at-</i></b> &nbsp;  <i class="cil">{{message.created_at}}</i> </p>
            {% endfor %}
       <style>
         .cil{
           color:#3a7bd5;
         }
       </style>    
          </div>
          <div class="tab-pane fade" id="address-tab" role="tabpanel" aria-labelledby="address-nav">
            <h4>Address</h4>
            <div class="row">
              <div class="col-md-6">
                <h5>Payment Address</h5>
                <p>123 Payment Street, Los Angeles, CA</p>
                <p>Mobile: 012-345-6789</p>
                <button class="btn">Edit Address</button>
              </div>
              <div class="col-md-6">
                <h5>Shipping Address</h5>
                <p>123 Shipping Street, Los Angeles, CA</p>
                <p>Mobile: 012-345-6789</p>
                <button class="btn">Edit Address</button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
            <h4>Account Details</h4>
            <form method="post" action="{% url 'update_acc'%}">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <input class="form-control" type="text" value="{{customers.first_name}}" name="fname"
                    placeholder="{{customers.first_name}}">
                </div>
                <div class="col-md-6">
                  <input class="form-control" type="text" value="{{customers.last_name}}" name="lname"
                    placeholder="{{customers.last_name}}">
                </div>
                <div class="col-md-6">
                  <input class="form-control" type="text" value="{{user.phone_no}}" name="phone"
                    placeholder="{{user.phone_no}}">
                </div>

                <!-- <div class="col-md-12">
                <input class="form-control" type="text" placeholder="Address">
              </div> -->
                <div class="col-md-12">
                  <button type="submit" class="btn">Update Account</button>
            </form>
            <br><br>
          </div>
        </div>
        <h4>Password change</h4>
        <div class="row">
          <div class="col-md-12">
            <input class="form-control" type="password" placeholder="Current Password">
          </div>
          <div class="col-md-6">
            <input class="form-control" type="text" placeholder="New Password">
          </div>
          <div class="col-md-6">
            <input class="form-control" type="text" placeholder="Confirm Password">
          </div>
          <div class="col-md-12">
            <button class="btn">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      {% include '../product_display.html' %}
    </div>
  </div>
</div>

{% endblock content %}