{% extends 'base.html' %}
{% load static %}
{% block content %}

<ul class="cards">
<div class="row">
    {% for i in loop %}
    <div class="col-md-3">

    <li>
      <a href="" class="card">
        <img src="{% static 'img/pro1.jpg' %}" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <!-- <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                      -->
            <!-- <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" /> -->
            <div class="card__header-text">
              <h3 class="card__title">BRAKE SYSTEM</h3>   
            </div>
          </div>
          <p class="card__description">...</p>
        </div>
      </a>      
    </li>

</div>
{% endfor %}
</div>
  </ul>

  <style>
    
  </style>
    

    {% endblock %}