{% extends 'base.html' %}
{% load static %}
{% block content %}


   
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'img/p_b.png' %}" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'img/p_b.png' %}" alt="Second slide">
        </div>

    </div>
</div>

<div class="container">


    <div class="product">
        <div class="section-header">
            <h1>About Autoworld</h1>
        </div>

        <div class="row">
            <div class="col-md-6">
               <p>
				The BHARAT AUTO SOLUTION is the complete genuine parts online provider of Automobile spare parts and replacement Parts. In Aftermarket So many Parts are available but we are providing OEM parts and Genuine parts for your vehicle we are starting Bharat Auto Solution in 2020 based in Indore(Madhya Pradesh). Slightly started sale online to direct customers through eCommerce platforms and daily inquiry by the customers but now we are started AUTOWORLD this is the totally digitally parts order and send to your address and by our Delivery partners. And have an expert Team To suggest you parts for your vehicle and Price effective compared to others. So we start the revolution of Online genuine parts sales online. We are working in Car Parts, Truck Parts, Bus Parts, etc…
			   </p>
               
			   <p>
				We are selling directly to customers. We establish an Auto parts e-commerce website for Online selling genuine Parts online the Name is AUTOWORLD has very useful to customers who find genuine parts online. We giving better searches and Genuine products.
			   </p>
           
			
			
			</div>

			<div class="col-md-6">
				<img src="{% static 'img/abt_img.jpg' %}"  class="img-fluid" alt="">
			</div>
            
        </div>

<br>
<br>
<br>
        <div class="row">
            <!---this is elements section--->

<div class="container">
	<div class="row">
        <!-- Boxes de Acoes -->
    	
        <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fas fa-check"></i></div>
					<div class="info"><br>
						<h3 class="title"><b>Genuine Parts</b></h3>
    					<p align="justify">
							We are one of the few retailers  across India which provide the most reliable and genuine parts 
							with the quality assurance of the Autoworld, you can rely on us for all your auto parts need.	
						</p>
						
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>




        <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fas fa-truck"></i></div>
					<div class="info"><br>
						<h3 class="title"><b>On Time Delivery</b></h3>
    					<p align="justify">
							Worry not !! it will directly reach your doorstep, with a swift and fast delivery.
						<br>
						<br>
						<br>
						</p>
					
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>




			
        <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="far fa-smile"></i></div>
					<div class="info"><br>
						<h3 class="title"><b>Customer Satisfaction</b></h3>
    					<p align="justify">
							Customer satisfaction is a crucial part of our business, and we hold it at utmost priority.
							<br>
							<br>
							<br>
						</p>
						
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>		    
		<!-- /Boxes de Acoes -->
	</div>





	<div class="row">
        <!-- Boxes de Acoes -->
    	
        <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fas fa-headset"></i></div>
					<div class="info"><br>
						<h3 class="title"><b>Customer Support</b></h3>
    					<p align="justify">
							We provide 24/7 phone and email support for our customers, we are always available to solve your problems.
						</p>
					
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>




        <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fas fa-globe-americas"></i></div>
					<div class="info"><br>
						<h3 class="title"><b>	Pan India sourcing Network</b></h3>
    					<p align="justify">
						
							We have Tie-Ups 100+ suppliers across India and many brands.
							<br>
							<br>
						</p>
						
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>




			
        <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fas fa-money-bill"></i></div>
					<div class="info"><br>
						<h3 class="title"><b>Competitive Pricing</b></h3>
    					<p align="justify">
							We provide you with the most profitable deals, and hence the best prices
							<br>
							<br>
						</p>
						
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>		    
		<!-- /Boxes de Acoes -->
	</div>

</div>

<!-------end of this elements-------->

        </div>

        </div>
    </div>
    

    {% endblock %}