{% extends 'base.html' %}


{% block content %}
{% if not request.user.is_authenticated %}
<script>
window.onload = function () {
    document.getElementById("myb").click();
//dom not only ready, but everything is loaded
}
</script>
<!-- Button trigger modal -->
<button  id="myb" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="display: none;">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Please Login to add items in your Cart</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                <i class="fa fa-cart-plus fa-5x"></i> 
                
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <a href="{% url 'account_login' %}"> <button type="button" class="btn btn-primary">Login</button></a>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% if request.user.is_authenticated %}


{% if order.get_cart_items == 0  %}
<script>
    window.onload = function () {
        document.getElementById("carte").click();
    //dom not only ready, but everything is loaded
    }
    </script>
    <!-- Button trigger modal -->
    <button  id="carte" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="display: none;">
        Launch demo modal
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">Please add items to your cart first</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                    <i class="fa fa-cart-plus fa-5x"></i> 
                    
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   <a href="{% url 'products' %}"> <button type="button" class="btn btn-primary">Go to products page</button></a>
                </div>
            </div>
        </div>
    </div>
{% endif %}


<div class="container">
    <h2>Shopping Cart</h2>
</div>
<div class="cart-page">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-8">
                <div class="cart-page-inner">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody class="align-middle">


                                {% for item in items %}

                                
                               
                               
                                <tr>
                                    <td>
                                        <div class="img">
                                            {% for image in item.Product.product_image.all %}
                                            {% if image.is_feature %}
                                            <a href="{% url 'product' pk=item.Product.id %}"><img src="{{ image.image.url }}" alt="Image"></a>
                                            {% endif %}
                                            {% endfor %}
                                            <p>{{item.Product.name}}</p>
                                        </div>
                                    </td>
                                    <td>&#8377;{{item.Product.regular_price|floatformat:2}}</td>
                                    <td>
                                        <div class="qty">
                                            <button data-product="{{item.Product.id}}" data-action="remove"
                                                class="btn-minus update-cart"><i class="fa fa-minus"></i></button>
                                            <input type="text" value="{{item.quantity}}">
                                            <button data-product="{{item.Product.id}}" data-action="add"
                                                class="btn-plus update-cart"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </td>
                                    <td>&#8377;{{item.get_total|floatformat:2}}</td>
                                    <td><button data-product="{{item.Product.id}}" data-action="delete"
                                            class="update-cart"><i class="fa fa-trash"></i></button></td>
                                </tr>
                                {% endfor %}









                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart-page-inner">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="cart-summary">
                                <div class="cart-content">
                                    <h1>Cart Summary</h1>
                                    <p>Sub Total<span>&#8377;{{order.get_cart_total|floatformat:2}}</span></p>
                                    <p>Shipping Cost<span>&#8377;1</span></p>
                                    <h2>Grand Total<span>&#8377;{{order.get_cart_total|floatformat:2}}</span></h2>
                                </div>


                                <style>
                                    .dd{
                                        background-color: #2980B9;
                                        color:#ffffff;
                                        border: black;
                                    }
                                    .d{
                                        color:white;
                                    }
                                  
                                </style>     

                          
                                    <!-- <button class="ss">Place Order</button> -->
                         
                                <button type="button" class="btn-lg dd" data-toggle="modal" data-target="#exampleModalCenter">
                                    CHOOSE PAYMENT MODE
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn-lg dd" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title " id="exampleModalLongTitle">CHOOSE PAYMENT MODE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
               <div class="text-center">
               
               <a href="{% url 'cod' %}"><button  class="btn btn-info btn-lg float-left">Cash on delivery</button></a>
               <a href="{% url 'checkout' %}"><button class="btn btn-info btn-lg float-right">Pay Online</button></a>
               </div>
            </div>
           
        </div>
    </div>
</div>



{% endif %}

{% endblock %}


