{% extends 'base.html' %}


{% block content %}


<!-- Checkout Start -->
<div class="checkout">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="checkout-inner">
                    <div class="billing-address">
                        <h2>Please update your name befor placing the order</h2><br>

                        <form method="post" action="{% url 'update_acc' %}">
                            {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <label>First Name</label>
                                <input class="form-control" type="text" value="{{customers.first_name}}" name="fname"
                                placeholder="{{customers.first_name}}">
                                <!-- <input class="form-control" type="text" placeholder="First Name"> -->
                            </div>
                            <div class="col-md-6">
                                <label>Last Name"</label>
                                <!-- <input class="form-control" type="text" placeholder="Last Name">
                                 -->
                                 <input class="form-control" type="text" value="{{customers.last_name}}" name="lname"
                                 placeholder="{{customers.last_name}}">
                            </div>
                        </div>
                        <br>
                        <div class="row">

                            <div class="col-md-3"><button  class="btn btn-primary btn-block"> Update </button>
                            </div>
                        </div>

                    </form>



                        <br><br>
                            <h2>Please Enter Shipping Address</h2> 
                            <form method="post" action="{% url 'update_checkout' %}">
                                {% csrf_token %}
                            <div class="row">
                  
                            <div class="col-md-12">
                                <label>Address</label>
                                <input class="form-control" name="address" type="text" required placeholder="Address">
                            </div>
                            <div class="col-md-6">
                                <label>Country</label>
                                <input class="form-control" name="country" type="text" required placeholder="Country">
                            </div>
                            <div class="col-md-6">
                                <label>City</label>
                                <input class="form-control" name="city" type="text" required placeholder="City">
                            </div>
                            <div class="col-md-6">
                                <label>State</label>
                                <input class="form-control" name="state" type="text" required placeholder="State">
                            </div>
                            <div class="col-md-6">
                                <label>ZIP Code</label>
                                <input class="form-control" name="zipcode" type="text" required placeholder="ZIP Code">
                            </div>
                   
                        </div>

                  
                  
                    </div>




                </div>
            </div>
            <div class="col-lg-4">
                <div class="checkout-inner">
                    <div class="checkout-summary">
                        <h1>Cart Total</h1>
                        <p>Product Name<span> &#8377; {{order.get_cart_total|floatformat:2}}</span></p>
                      
                        <p class="ship-cost">Total items in cart<span>{{order.get_cart_items}}</span></p>
                        <h2>Grand Total<span> &#8377; {{order.get_cart_total|floatformat:2}}</span></h2>
                    </div>

                    <div class="checkout-payment">

                        <div class="checkout-btn">
                            <button type="submit">Place Order</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->



{% endblock %}