{% extends 'base.html' %}


{% block content %}


<div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="row">
       
        <a class="d"href="{% url 'checkout' %}" >
            <div class="shadow-lg col-lg-6 bg-white rounded">
                PAY ONLINE WITH PAYTM GATEWAY
            </div>
        </a>
        <a class="d"href="{% url 'cod' %}" >
            <div class="shadow-lg col-lg-6 bg-white rounded">
                PAY VIA CASH ON DELIVERY
            </div>
        </a>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>



{% endblock %}