{% load static %}

<!-- Footer Start -->

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Get in Touch</h2>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>279, Transport Nagar, Indore, Madhya Pradesh 452014</p>
                        <p><i class="fa fa-envelope"></i>bharatautosolution81@gmail.com</p>
                        <p><i class="fa fa-phone"></i>+91 9302814372</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Follow Us</h2>
                    <div class="contact-info">
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Company Info</h2>
                    <ul>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                        <li><a href="{% url 'support' %}">Support</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Purchase Info</h2>
                    <ul>
                        <li><a href="{% url 'contact' %}">contact</a></li>
                        <li><a href="{% url 'products' %}">Products</a></li>
                        <li><a href="{% url 'home' %}">Home page</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row payment align-items-center">
            <div class="col-md-6">
                <div class="payment-method">
                    <h2>We Accept:</h2>
                    <img src="{% static  'img/payment-method.png' %}" alt="Payment Method" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="payment-security">
                    <h2>Secured By:</h2>
                    <img src="{% static  'img/godaddy.svg' %}" alt="Payment Security" />
                    <img src="{% static  'img/norton.svg' %}" alt="Payment Security" />
                    <img src="{% static  'img/ssl.svg' %}" alt="Payment Security" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Footer Bottom Start -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright">
                <p>Copyright &copy; <a href="#">Bharat auto solutions</a>. All Rights Reserved</p>
            </div>

            <div class="col-md-6 template-by">
                <p>Made By <a href="#">Inflatech solutions</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Footer Bottom End -->

<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

