{% load static %}
      
                       {% block content %}
                        <div class="product">
                            <div class="section-header">
                                <h1>Related Products</h1>
                            </div>

                            <div class="row align-items-center product-slider product-slider-4">
                                {% for p in products %}
                                                            
                                                            
                                <div class="col-lg-3">
                                    <div class=" shadow-sm bg-white rounded product-item">
                                        <div class="product-title">
                                            <a href="#">{{p}}</a>
                                
                                        </div>
                                
                                        {% for image in p.product_image.all %}
                                        {% if image.is_feature %}
                                        <div class="product-image">
                                            <a href="{% url 'product' pk=p.id %}">
                                                <img src="{{ image.image.url }}" alt="Product Image" height="200px" width="50px">
                                            </a>
                                
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                        <div>
                                            <p style="font-size: 14px; "><span style="color: cornflowerblue;">Company: </span>{{p.manufacturer}}
                                                <br>
                                                <span style="color: cornflowerblue;">Model: </span>{{p.vmodel}}
                                            </p>
                                        </div>
                                        <div class="product-price">
                                
                                            <span>&#8377</span>{% if p.descount_price %}
                                            <del> {{p.descount_price}}</del>
                                            {% endif %}
                                
                                            {{p.regular_price}}
                                            {% if not request.user.is_authenticated %}
                                            <a href="{% url 'loginr' %}"><button  class="btn "><i class="fa fa-shopping-cart"></i>Add to cart</button></a>
                                            {% endif %}

                                            {% if request.user.is_authenticated %}
                                            <button data-product="{{p.id}}" data-action="add" class="btn update-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                            {% endif %}
                                            
                                
                                                
                                
                                
                                
                                
                                
                                
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                
                                {% endfor %}
                                


                                
                            
                                
                              
                            </div>
                        </div>
                    </div>
                   
                 

                
                    {% endblock %}
                    
               
        <!-- Product Detail End -->