{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% block content %}
<style>
    /* .sidebar li .submenu{ 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	padding-left: 1rem; 
	padding-right: 1rem;
} */
    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    }

    .filter-group .card-header {
        border-bottom: 0
    }

    .icon-control {
        margin-top: 6px;
        float: right;
        font-size: 80%
    }

    .list-menu {
        list-style: none;
        margin: 0;
        padding-left: 0
    }

    .list-menu a {
        color: #343a40
    }

    a {
        color: #153f5b;
        
        
        
    }

    .checkbox-btn {
        position: relative
    }

    .checkbox-btn input {
        position: absolute;
        z-index: -1;
        opacity: 0
    }

    .checkbox-btn input:checked~.btn {
        border-color: #3167eb;
        background-color: #3167eb;
        color: #fff
    }

    .btn-light {
        display: inline-block;
        font-weight: 600;
        color: #343a40;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: #eee;
        border: 1px solid #eee;
        padding: 0.45rem 0.85rem;
        font-size: 10px;
        line-height: 1.5;
        border-radius: 0.37rem
    }

    .btn-light:hover {
        background-color: #fff;
        border-color: #989898
    }

    .btn-medium {
        font-size: 12px;
        padding: 10px 22px;
        display: inline-block;
        margin-right: 20px;
        letter-spacing: 2px;
        border: 1px solid #157af6;
        width: 100%
    }

    .highlight-button:hover {
        background-color: #157af6;
        border: 2px solid #157af6;
        color: #fff
    }

    .custom-control {
        position: relative;
        display: block;
        min-height: 1.5rem;
        padding-left: 1.5rem
    }
</style>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'img/p_b.png' %}" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'img/p_b.png' %}" alt="Second slide">
        </div>

    </div>
</div>
<div class="pageinator">
    
</div>
<div class="container">
<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-view-top">
                            <div class="row">
                                <div class="col-md-12">
                          
                            <form  method="get" class=" justify-content-center">
                                <div class="form-group">
                               <i>Vehical Type:</i> 
                                {{ myFilter.form.vehicaltype }}
                             <i>Manufacturer:</i> 
                                {{ myFilter.form.manufacturer }}
                             <i>Vehical Model:</i> 
                                
                                {{ myFilter.form.vmodel }}<br><br>
                             <i>Model Year:</i> 
                                {{ myFilter.form.myear }}
                             <i>Category</i> 
                                {{ myFilter.form.category }}
                            
                                </div>
                                <br>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-info">SEARCH</button>
                                </div>
                                
                            </form>
                                </div>
                                <!-- <div class="col-md-4">
                                    <div class="product-short">
                                        <div class="dropdown">
                                            <div class="dropdown-toggle" data-toggle="dropdown">Product short by</div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item">Newest</a>
                                                <a href="#" class="dropdown-item">Popular</a>
                                                <a href="#" class="dropdown-item">Most sale</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                               
                            </div>
                        </div>
                    </div>
                    {% for p in product.object_list %}
                    

                    <div class="col-md-4">
                        <div class=" shadow-sm bg-white rounded product-item">
                            <div class="product-title">
                                <a href="#">{{p}}</a>

                            </div>

                            {% for image in p.product_image.all %}
                            {% if image.is_feature %}
                            <div class="product-image">
                                <a href="{% url 'product' pk=p.id %}">
                                    <img src="{{ image.image.url }}" alt="Product Image" height="200px" width="50px">
                                </a>

                            </div>
                            {% endif %}
                            {% endfor %}
                            <div>
                                <p style="font-size: 14px; "><span style="color: cornflowerblue;">Company: </span>{{p.manufacturer}}
                                    <br>
                                <span style="color: cornflowerblue;">Model: </span>{{p.vmodel}}</p>
                            </div>
                            <div class="product-price">

                                <span>&#8377</span>{% if p.descount_price %}
                                <del> {{p.descount_price}}</del>
                                    {% endif %}

                                    {{p.regular_price}}
                               

                                    {% if not request.user.is_authenticated %}
                                    <a href="{% url 'loginr' %}"><button  class="btn "><i class="fa fa-shopping-cart"></i>Add to cart</button></a>
                                    {% endif %}

                                    {% if request.user.is_authenticated %}
                                    <button data-product="{{p.id}}" data-action="add" class="btn update-cart"><i class="fa fa-shopping-cart"></i>Add to cart </button>
                                    {% endif %}        
                            
                                    

                             
                               

                               
                            </div>
                            <br>
                        </div>
                    </div>

                    {% endfor %}
                   


                </div>
                <br>
                <br>
                <br>

                <!-- Pagination Start -->
                <div class="col-md-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if product.has_previous %}
                            <li class="page-item ">
                                <a class="page-link" href="{% url 'products' %}?page={{ product.previous_page_number }}" tabindex="-1">Previous</a>
                            </li>
                            {% endif %}
                            <!-- <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                            {% if product.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="{% url 'products' %}?page={{ product.next_page_number }}">Next</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <!-- Pagination Start -->
            </div>

            <!-- Side Bar Start -->
            <div class="col-lg-3 ">
                <div>
              
                    

                    <!-- <div class="container-fluid mt-100">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-4"> -->
                                <div class="">
                                    {% recursetree cat %}
                                    <article class="filter-group">
                                        <header class="card-header"> <a href="{% url 'category' slug=node.slug kt='a' %}"
                                                data-toggle="{% if not node.is_leaf_node %}collapse{% endif %}"
                                                data-target="{% if not node.is_leaf_node %}#collapse_aside{{node.id}}{% endif %}"
                                                data-abc="true" aria-expanded="false" class="collapsed"> 
                                                   <i class="icon-control fa fa-chevron-down"></i>
                                                <h6 class="title"> <i class="fa fa-cogs" aria-hidden="true"></i> {{ node.name }} </h6>
                                            </a> </header>
                    
                                        <div class="filter-content collapse" id="collapse_aside{{node.id}}" style="">
                                            <div class="card-body">
                                                {% if not node.is_leaf_node %}
                                                <ul class="list-menu">
                    
                                                    <li><a href="{% url 'category' slug=node.slug kt='a' %}"  data-abc="true">{{ children }} </a></li>
                    
                                                </ul>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </article>
                                    {% endrecursetree %}
                    
                    
                    
                                </div>
                            <!-- </div>
                        </div>
                    </div> -->
                </div>
                <!-- <div class="sidebar-widget category">
                    <h2 class="title">Category</h2>
                    <nav class="navbar bg-light">
                        <ul class="navbar-nav">
                            {% for cateorie in cateories%}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'category' slug=cateorie.slug %}"><i class="fas fa-cogs" style="color:#2980B9"></i>{{cateorie}}</a>
                            </li>
                            {% endfor %}
                      
                        </ul>
                    </nav>
                </div> -->



                <div class="sidebar-widget brands">
                    <h2 class="title">Our Brands</h2>
                    
                    <ul>
                        {% for p in brad %}
                        <li><a href="{% url 'category' slug=p.brand kt='b' %}">{{p.brand}}</a><span>(45)</span></li>
                        {% endfor %}
                      
                    </ul>
                </div>

                <!-- <div class="sidebar-widget tag">
                    <h2 class="title">Tags Cloud</h2>
                    <a href="#">Lorem ipsum</a>
                    <a href="#">Vivamus</a>
                    <a href="#">Phasellus</a>
                    <a href="#">pulvinar</a>
                    <a href="#">Curabitur</a>
                    <a href="#">Fusce</a>
                    <a href="#">Sem quis</a>
                    <a href="#">Mollis metus</a>
                    <a href="#">Sit amet</a>
                    <a href="#">Vel posuere</a>
                    <a href="#">orci luctus</a>
                    <a href="#">Nam lorem</a>
                </div> -->
            </div>
            <!-- Side Bar End -->
        </div>
    </div>
</div>
<!-- Product List End -->

<!-- Brand Start -->
<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider">
            <div class="brand-item"><img src="img/brand-1.png" alt=""></div>
            <div class="brand-item"><img src="img/brand-2.png" alt=""></div>
            <div class="brand-item"><img src="img/brand-3.png" alt=""></div>
            <div class="brand-item"><img src="img/brand-4.png" alt=""></div>
            <div class="brand-item"><img src="img/brand-5.png" alt=""></div>
            <div class="brand-item"><img src="img/brand-6.png" alt=""></div>
        </div>
    </div>
</div>
</div>
{% endblock content %}