{% load static %}
      
                       {% block content %}
                        <div class="product">
                            <div class="section-header">
                                <h1>Related Products</h1>
                            </div>

                            <div class="row align-items-center product-slider product-slider-4">
                                {% for product in products %}
                                <div class="col-lg-3">
                                    <div class="product-item">
                                        <div class="product-title">
                                            <a href="#">{{product.title}}</a>
                                            <div class="ratting">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>


                                        {% for image in product.product_image.all %}
                                        {% if image.is_feature %}
                                        <div class="product-image">
                                            <a href="{% url 'product' pk=product.id %}">
                                                <img src="{{ image.image.url }}" alt="Product Image" height="200px" width="50px">
                                            </a>
                        
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                               
                                        <div class="product-price">
                                            <h3><span>&#8377;</span>{{product.regular_price}}</h3>

                                            <button data-product="{{product.id}}" data-action="add" class="btn update-cart">
                                    
                                                <i class="fa fa-shopping-cart"></i>Add to cart
                                            
                                            </button>
                                   
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                
                              
                            </div>
                        </div>
                    </div>
                   
                 

                
                    {% endblock %}
                    
               
        <!-- Product Detail End -->
    